#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export LIBDIR=$${DESTDIR}/usr/lib/${DEB_HOST_MULTIARCH}
export SHLIBDIR=$${DESTDIR}/lib/${DEB_HOST_MULTIARCH}
export LIBBASE=lib/${DEB_HOST_MULTIARCH}

%:
	dh $@

override_dh_auto_test:
